https://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp38-cp38-win_amd64.whl
https://download.pytorch.org/whl/torch_stable.html#:~:text=cpu/torchvision%2D0.4.2%252Bcpu%2Dcp37%2Dcp37m%2Dwin_amd64.whl
numpy==1.21.5
flask==1.1.2
pandas==1.4.2
